In [90]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.metrics import roc_auc_score
from sklearn.tree import export_graphviz
import graphviz

In [2]:
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv')

In [3]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
df.shape

(3333, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
state                     3333 non-null object
account length            3333 non-null int64
area code                 3333 non-null int64
phone number              3333 non-null object
international plan        3333 non-null object
voice mail plan           3333 non-null object
number vmail messages     3333 non-null int64
total day minutes         3333 non-null float64
total day calls           3333 non-null int64
total day charge          3333 non-null float64
total eve minutes         3333 non-null float64
total eve calls           3333 non-null int64
total eve charge          3333 non-null float64
total night minutes       3333 non-null float64
total night calls         3333 non-null int64
total night charge        3333 non-null float64
total intl minutes        3333 non-null float64
total intl calls          3333 non-null int64
total intl charge         3333 non-null float64
customer service calls    3333 non-null int64
churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [6]:
df.isna().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [42]:
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [8]:
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

Observation: churning is the target. When viewing the data it is very imbalanced. I want to run a modeless basline to see how the data does without any changes.

## Model Less Baseline: Without Change

In [9]:
# grab X and y

X, y = df.drop(columns='churn'), df['churn']

In [10]:
1 - y.mean()

0.8550855085508551

The data left alone does ok, but it does need to be scaled!
I would also like to know which columns are useful and which ones are not!

In [11]:
df.nunique()

state                       51
account length             212
area code                    3
phone number              3333
international plan           2
voice mail plan              2
number vmail messages       46
total day minutes         1667
total day calls            119
total day charge          1667
total eve minutes         1611
total eve calls            123
total eve charge          1440
total night minutes       1591
total night calls          120
total night charge         933
total intl minutes         162
total intl calls            21
total intl charge          162
customer service calls      10
churn                        2
dtype: int64

## The strings in the df
The columns that have strings. I can not make a pair plot to view the data because from these columns

In [41]:
df['phone number'].head() # has a - in the number! but I may just use area code!

0    382-4657
1    371-7191
2    358-1921
3    375-9999
4    330-6626
Name: phone number, dtype: object

In [37]:
df['voice mail plan'].value_counts()

no     2411
yes     922
Name: voice mail plan, dtype: int64

In [30]:
df['international plan'].value_counts()

no     3010
yes     323
Name: international plan, dtype: int64

In [40]:
df['state'].value_counts()

WV    106
MN     84
NY     83
AL     80
OH     78
WI     78
OR     78
VA     77
WY     77
CT     74
ID     73
VT     73
MI     73
TX     72
UT     72
IN     71
KS     70
MD     70
NJ     68
NC     68
MT     68
CO     66
WA     66
NV     66
MA     65
MS     65
RI     65
AZ     64
FL     63
MO     63
NM     62
ND     62
ME     62
NE     61
OK     61
DE     61
SD     60
SC     60
KY     59
IL     58
NH     56
AR     55
DC     54
GA     54
TN     53
HI     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64

In [39]:
df['area code'].value_counts() 
# only three values so it maybe be easier to desl with vs the phone number that has a lot of 
# unique values, usually people just want a specific area code when getting numbers

415    1655
510     840
408     838
Name: area code, dtype: int64

## Observation
The churn column is our target, but I am thinking we could just create packedges for each state. For example WV is number 1 as far as frequency in this data. We could design a packedge based off of what features they use the most that the company offers and bundle them up to make a deal that is set for like the next two or three years (contracts). 

Kind of like how we did with the zipcode.

# The Data 
We will need to determine which columns are important or not important. Another thing is if we want to use the phone numbers in or ananlysis we need to take out the - or we could simply just use the area code column vs the phone number coulumn. But to determine which one the model feels is more important we need to take out the -.

# Balancing the Data

The data is very imbalanced, but we can fix this by trying three things
we can over sample the minority of the target columns which is people who have churned
we can then follow up by under smapling the people who have not churned
we as well could just use the class_wieght parameter in a model of our choice (that supports this parameter of course).

# The Buisness Problem Approach:
We are trying to figure out who will churn or not aka leave a telecomunication company or not. We want to help companies make packedges for the loyal customers as well as create packdges that will create more loyal customers based off of the things/features they use the company for. This will bring in more profit for the company being that they are atracting more clients withe there deals and also we can take it a step further and create packedeges per state!!

After speaking with the instrustors we need to look the first predictive problem. We need to see if we can predict who will churn or not.

This can be advertised to companies who are loosing a lot of costomers, we can sell them a prodict that will predict weather a potential customer will be a good long term investment or not?

In [43]:
df['p_number'] = df['area code'].astype(str) + df['phone number'] 
# creating new column with area code and phone number combined

In [44]:
df['p_number'].head()

0    415382-4657
1    415371-7191
2    415358-1921
3    408375-9999
4    415330-6626
Name: p_number, dtype: object

In [45]:
df['p_number'] = df['p_number'].str.replace('-', '')

In [61]:
df['p_number'] = df['p_number'].astype(int)

In [49]:
df['international plan'] = df['international plan'].str.replace('no', '0')

In [50]:
df['international plan'] = df['international plan'].str.replace('yes', '1')

In [52]:
df['international plan'].value_counts()

0    3010
1     323
Name: international plan, dtype: int64

In [53]:
df['voice mail plan'] = df['voice mail plan'].str.replace('no', '0')
df['voice mail plan'] = df['voice mail plan'].str.replace('yes', '1')

In [54]:
df['voice mail plan'].value_counts()

0    2411
1     922
Name: voice mail plan, dtype: int64

**Check-in: We want to use grid search to find the best parameters that work well with this data set. But first we need to encode state column and also figure out if we need to turn churn into 1 and 0 vs true or false.**

In [57]:
df['target'] = df['churn'].astype(int)

In [59]:
df['target'].value_counts()

0    2850
1     483
Name: target, dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
state                     3333 non-null object
account length            3333 non-null int64
area code                 3333 non-null int64
phone number              3333 non-null object
international plan        3333 non-null object
voice mail plan           3333 non-null object
number vmail messages     3333 non-null int64
total day minutes         3333 non-null float64
total day calls           3333 non-null int64
total day charge          3333 non-null float64
total eve minutes         3333 non-null float64
total eve calls           3333 non-null int64
total eve charge          3333 non-null float64
total night minutes       3333 non-null float64
total night calls         3333 non-null int64
total night charge        3333 non-null float64
total intl minutes        3333 non-null float64
total intl calls          3333 non-null int64
total intl charge         3333 non-null float64
customer service calls    3333 non-null int64
churn                     3333 non-null bool
p_number                  3333 non-null int64
target                    3333 non-null int64
dtypes: bool(1), float64(8), int64(10), object(4)
memory usage: 576.2+ KB

In [63]:
df['international plan'] = df['international plan'].astype(int)

df['voice mail plan'] = df['voice mail plan'].astype(int)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
state                     3333 non-null object
account length            3333 non-null int64
area code                 3333 non-null int64
phone number              3333 non-null object
international plan        3333 non-null int64
voice mail plan           3333 non-null int64
number vmail messages     3333 non-null int64
total day minutes         3333 non-null float64
total day calls           3333 non-null int64
total day charge          3333 non-null float64
total eve minutes         3333 non-null float64
total eve calls           3333 non-null int64
total eve charge          3333 non-null float64
total night minutes       3333 non-null float64
total night calls         3333 non-null int64
total night charge        3333 non-null float64
total intl minutes        3333 non-null float64
total intl calls          3333 non-null int64
total intl charge         3333 non-null float64
customer service calls    3333 non-null int64
churn                     3333 non-null bool
p_number                  3333 non-null int64
target                    3333 non-null int64
dtypes: bool(1), float64(8), int64(12), object(2)
memory usage: 576.2+ KB

In [70]:
X= df.drop(columns= ['phone number', 'area code', 'target', 'state', 'churn'])

In [66]:
y = df.target

In [78]:
# X.info()

## Baseline : Random Forest Classifier w/ ROC_AUC Metric
We chose this metric because it it the most commonly used for accuracy of a classification model.

In [75]:
scale = RobustScaler()

In [82]:
rfc = RandomForestClassifier()

In [83]:
pipe = make_pipeline(scale, rfc)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= .25,  random_state= 8 )

In [84]:
pipe.fit(X_train, y_train)

/Users/boimoriba/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Pipeline(memory=None,
         steps=[('robustscaler',
                 RobustScaler(copy=True, quantile_range=(25.0, 75.0),
                              with_centering=True, with_scaling=True)),
                ('randomforestclassifier',
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=10, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [85]:
test_pred = pipe.predict(X_test)
train_pred = pipe.predict(X_train)

In [86]:
train_score = roc_auc_score(y_train, train_pred)
test_score = roc_auc_score(y_test, test_pred)

In [87]:
train_score

0.979050279329609

In [88]:
test_score

0.8070634696755995

In [ ]:
# fig, ax = plt.subplots()
# plot_roc_curve(pipe_lr, X_test, y_test, name="Baseline Log Reg", ax=ax)
# plot_roc_curve(dt_grid, X_test, y_test, name="Best DT", ax=ax)
# plot_roc_curve(rf_2, X_test, y_test, name="Best RF", ax=ax)
# ax.plot([0, 1], [0, 1], linestyle='--', lw=2, color='r',
#          label='Chance', alpha=.8)
# plt.title("Receiver Operating Characteristic Curves\n(Evaluated on Test Set)")
# ax.legend()
# plt.show()

In [100]:
grid_param = {'n_estimators': [50,100], 
              'class_weight': ['balanced'], 
              'criterion': ['gini', 'entropy'], 
              'max_depth': [2,4,6] 
              }

In [103]:
grid_search = GridSearchCV(rfc, grid_param, cv=3, scoring= 'roc_auc')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=10, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'class_weight': ['balanced'],
                         'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 4, 6], 'n_estimators': [50, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [104]:
grid_search.best_params_

{'class_weight': 'balanced',
 'criterion': 'entropy',
 'max_depth': 6,
 'n_estimators': 100}

In [105]:
best_grid_param = {'class_weight': 'balanced',
 'criterion': 'entropy',
 'max_depth': 6,
 'n_estimators': 100}

In [111]:
rcf_grid = grid_search.best_estimator_
rcf_grid.fit(X_train, y_train)

# train_preds = rf_2.predict_proba(X_train)[:, 1]
# test_preds = rf_2.predict_proba(X_test)[:, 1]

test_pred2 = rcf_grid.predict_proba(X_test)[:, 1]
train_pred2 = rcf_grid.predict_proba(X_train)[:, 1]

train_score2 = roc_auc_score(y_train, train_pred2)
test_score2 = roc_auc_score(y_test, test_pred2)

In [112]:
train_score2

0.9730885948455141

In [113]:
test_score2

0.9131057827926655